.footer {
    background-color: #0A1D39;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 80px;
    font-family: Arial, sans-serif;
  }
  
  .footer-left, .footer-right, .footer-links {
    flex: 1 1 200px;
    margin: 10px;
  }
  
  .footer-left h2, .footer-links h3, .footer-right h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
  }
  
  .footer-left address, .footer-left a, .footer-left span {
    display: block;
    margin-bottom: 5px;
    color: #C5CAD1;
  }
  
  .footer-links ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-links li {
    margin-bottom: 5px;
    color: #C5CAD1;
  }
  
  .footer-right .footer-icons i {
    font-size: 1.2em;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .footer-right .footer-icons i:hover {
    color: #fff;
  }
  
  .footer-bottom {
    flex-basis: 100%;
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #8e1111;
  }
  
  .footer a {
    color: #C5CAD1;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .footer {
      padding: 20px;
      flex-direction: column;
      align-items: center;
    }
  
    .footer-left, .footer-links, .footer-right {
      text-align: center;
    }
  
    .footer-links {
      display: flex;
      flex-direction: column;
    }
  
    .footer-links > div {
      margin-bottom: 20px;
    }
  }

  .footer-icons>i{
    padding:5px;
  }

  li{
    padding:4px;
  }

  .footer-title,.footer-phone,.footer-email
  {
    padding:4px;
  }