 nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    font-size: 22px;
    font-weight: 700;
}

nav li {
    list-style-type: none;
}
   ul.menu,
        ul.signin {
            display: flex;
            gap: 50px;
            justify-content: space-between;
        }

        #signin,
        #signup {
            padding: 3px;
            font-size: 15px;
            border-radius: 6px;
            font-weight:700;
        }
        #signup{
            background-color:rgb(58, 134, 255);
            color:white;
            padding:8px;
            border:2px solid black;
        }
        #signin{
            border:none;
        }

        #mylogo{
            object-fit:contain;
            position:relative;
            height:180px;
            width:160px;
            z-index:10;
            padding-top:5px;
        }
        a{
            text-decoration: none;
            color: #7209b7ff;
        }
        a:hover{
           text-decoration: underline;
           font-size:23px;
        }

        