.car-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
}

.car-card {
    width: 300px;
    /* border: 2px solid #ddd; */
    border: 2px solid #801f1f;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    transition: transform 0.2s ease-in-out;
}

.car-card:hover {
    transform: translateY(-10px);
}

.car-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    object-fit: cover;
}

.car-card h2 {
    font-size: 22px;
    color: #333;
    text-align: center;
    margin: 10px 0;
}

.car-type {
    font-size: 18px;
    color: #666;
    text-align: center;
    margin-bottom: 10px;
}

.price-options {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 10px 0;
}

.price-options div {
    text-align: center;
    font-size: 14px;
    color: #444;
    /* color: #4a2fb9; */
}

.price-options .selected {
    /* background-color: #e0e0e0; */
    /* background-color: #047fcb74; */
    background-color: rgb(131, 174, 243);
    border-radius: 5px;
    padding: 5px;
}

.features p {
    font-size: 14px;
    color: #555;
    /* color: #31c671; */
    margin: 5px 0;
    text-align: center;
}

.features span {
    display: inline-block;
    margin-right: 5px;
}

/* Details section, hidden by default */
.details {
    display: none;
    font-size: 14px;
    /* color: #555; */
    color: #c01414;
    text-align: left;
    margin: 15px 0;
}
.details.gear{
    color:#555
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.actions a {
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
}

.actions .view-details {
    background-color:rgb(58, 134, 255);
    cursor: pointer;
}

.actions .book-now {
    background-color: #6a9a55;
}

.actions a:hover {
    opacity: 0.9;
}

/* Show details when the View Details is toggled */
.car-card .details {
    display: block;
    transition: all 0.3s ease;
}
